@(itemForm: Form[views.forms.ItemForm])
@import helper.twitterBootstrap._
@import helper._
@import formElements._

@main("New item") {

    @helper.form(action = routes.AuctionController.createItem) {
        <h2>New Item</h2>
        @text(itemForm("name"),
            label = "Name",
            placeholder = "name",
            help = "Item name is required.")

        @textArea(itemForm("description"),
            label = "Description",
            placeholder = "description",
            help = "description is required.")

        @number(itemForm("startPrice"),
            label = "Start price",
            placeholder = "0",
            help = "Start Price is required")

        @number(itemForm("buyoutPrice"),
            label = "Start price",
            placeholder = "0",
            help = "Start Price is required")

        @email(itemForm("contactEmail"),
            label = "Email",
            placeholder = "a@a.com",
            help = "Email is required.")

        <button type="submit" class="btn btn-success">Submit</button>
    }
}