@(items: String)

@main("Welcome to Play") {
    <div data-ng-controller="AuctionController">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>StartPrice</th>
                    <th>BuyOutPrice</th>
                    <th>Offer</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in items">
                    <td>{{item.name}}</td>
                    <td>{{item.startPrice}}</td>
                    <td>{{item.buyOutPrice}}</td>
                    <td><a href="/item/{{item.id}}/offer">Offer</a> </td>
                </tr>
            </tbody>
        </table>
    </div>
}
