@(field: Field, label: String = "CHANGEME", placeholder: String = "", help: String = "", required: Boolean = true)

<div class="form-group @if(field.hasErrors) {has-error}">
    <label class="col-sm-2 control-label">@label</label>
    <div class="col-sm-10">
        <input type="text"
               class="form-control"
               id="@field.id"
               name="@field.name"
               value="@field.value.getOrElse("")"
        placeholder="@placeholder"
        @if(required) {
            required
        }/>
        <span class="help-block">@help</span>
        <span class="help-block">@{field.error.map { error => error.message }}</span>
    </div>
</div>